{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Links of CSS files -->
    <link rel="stylesheet" href="{% static "theme/css/bootstrap.min.css" %}">

    <link rel="stylesheet" href="{% static "theme/css/style.css" %}">

 

    <style>
      body  {
        background-image: url("{% static "theme/css/bg-01.jpg" %}");
        background-color: #cccccc; 
        height: 500px;
        background-position: top; 
        background-repeat: no-repeat; 
        background-size: cover; 
      }
    </style>
    <title>Skin Cancer Classifier</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgb(7, 23, 51); opacity: 0.8">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          <img
            src="{% static 'logo.png' %}"
            width="30"
            height="30"
            class="d-inline-block align-top"
          />
          <span style="color: #fff;">Skin Cancer Classifier</span>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          {% if user.is_authenticated %}
          <ul class="navbar-nav mr-auto">

            <li class="nav-item {{ check }}" style="margin-left:800px; position: relative;">
              <a class="nav-link" style="color: #fff;" href="{% url 'check' %}">Check Image</a>
            </li>
            
          </ul>
          {% endif %}
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item" style="position: relative">
    
              <form
                style="display: block"
                method="POST"
                action="{% url 'logoutuser' %}"
              >
                {% csrf_token %}
                <button class="btn btn-danger" id="signOutBtn" type="submit">Logout</button>
              </form>
            </li>
            {% else %}
            <li class="nav-item"  style="margin-left:800px; position: relative;">
              <a class="nav-link" style="color: #fff;" href="{% url 'signupuser' %}">Sign Up</a>
            </li>
            <li class="nav-item" style="position: relative">
              <a class="nav-link" style="color: #fff;" href="{% url 'loginuser' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">{% block content %}{% endblock %}</div>

    <div class="go-top"><i class='bx bx-chevron-up'></i></div>
    <!-- Links of JS files -->

      <script src="{% static "theme/js/bootstrap.min.js" %}"></script>
  
  </body>
</html>
