{% extends "base.html" %}
{% block content %}
  <div class="container-fluid" style="max-width:800px; margin:200px auto;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card mb-3">
          <label for="form-data" class="form-label" style="padding-left: 240px; margin:10px; font-size:x-large; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Select Skin Lesion Image</label>
          <input type="file" class="form-control" id="image" placeholder="please enter image" name="image" required>
        </div>
          <div class="container" style="width:100px; margin-top: 10px;">
            <input type="submit" value="Check" class="btn btn-danger">
          </div> 
         
    </form>
  </div>

{% endblock %}